.mdl-layout__drawer
	span.mdl-layout-title Pattern List
	nav.mdl-navigation
		a.mdl-navigation__link(href='') Link1
		a.mdl-navigation__link(href='') Link2
		a.mdl-navigation__link(href='') Link3
		a.mdl-navigation__link(href='') Link4
