extends index.pug
block title
	title Sequencer
block content
	include ./_layout/_sequencer/_sequencer
		


//- .mdl-grid
//- 	.mdl-cell.mdl-cell--10-col.drum_name
//- 		.mdl-textfield.mdl-js-textfield
//- 			input#drum_name.mdl-textfield__input(type='text')
//- 			label.mdl-textfield__label(for='drum_name') Text...
//- 	.mdl-cell.mdl-cell--2-col.drum_type
//- 		button#drum_type.mdl-button.mdl-js-button.mdl-button--icon
//- 			i.material-icons more_vert
//- 		ul.mdl-menu.mdl-menu--bottom-left.mdl-js-menu.mdl-js-ripple-effect(for='drum_type')
//- 			li.mdl-menu__item Some Action
