html
	font-size: 16px
body
	margin: 0
*
	box-sizing: border-box

@import "./_module/_font/_font"
@import "./_module/_grid/_grid"

.mdl-layout__header
	background-color: rgb(255,87,34)
.mdl-navigation__link
	font-size: 120%
	font-weight: bold
// .page-content
// 	width: 80%
// 	margin: auto
.text-right
	text-align: right


//sequencer
.sequencer
	th
	tr
	td
		padding: 10px


.mdl-textfield .mdl-button
	right: 0
.mdl-textfield__input
	padding-right: 35px
.mdl-button-add
	margin-top: 10px
