include ./_module/_svg/_svg
include ./_ui/_buttons/_button
include ./_ui/_inputs/_input

<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="./index.css")
		title Archetype
	body
		.wrapper
			.wrapper__header
				include ./_layout/_header/_header
			.wrapper__body
				include ./_layout/_sequencer/_sequencer
			.wrapper__footer
				include ./_layout/_ctrl_panel/_ctrl_panel
		script(src='../../bower_components/jquery/dist/jquery.js')
		script(src='./index.js')
