.ctrl
	.ctrl__.ctrl__play
		+button__action('play')
		+button__action('pause')
		+button__action('stop')
	.ctrl__.ctrl__create
		+input('row') Row
		+input('col') Col
		+button__submit()
	.ctrl__.ctrl__edit
		+button__action('pencil')
		+button__action('check')
