table#sequencer.sequencer.sequencer_edit
	thead
		tr
			th Drums
			th 1
			th 2
	tbody
		tr
			th
				| input
			td
				.drum_matrix(data-col='0' data-row='0' data-value='0')
			td
				.drum_matrix(data-col='1' data-row='0' data-value='0')
