mdb-navbar(SideClass='navbar navbar-expand-lg navbar-dark indigo')
  mdb-navbar-brand
    a.navbar-brand(href='#') Navbar
  links
    .navbar-nav
      a.nav-item.nav-link.active.waves-light(href='#' mdbWavesEffect='')
        | Home
        span.sr-only (current)
      a.nav-item.nav-link.waves-light(href='#' mdbWavesEffect='') Features
      a.nav-item.nav-link.waves-light(href='#' mdbWavesEffect='') Pricing
      a.nav-item.nav-link.disabled(href='#') Disabled
