header.mdl-layout__header
	.mdl-layout__header-row
		span.mdl-layout-title Drums
		.mdl-layout-spacer
		nav.mdl-navigation
			a.mdl-navigation__link(href='./new.html') New
			a.mdl-navigation__link(href='./index.html') List
